
/* Sticky footer styles
-------------------------------------------------- */

body {
  background: url("../img/grid.png") 0 0 repeat #666666;
}

/* Wrapper for page content to push down footer */

#wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  margin: 0 auto 30px;
}

/* Set the fixed height of the footer here */

#footer {
  position: fixed;
  bottom: 0;
  z-index: 1001;
  width: 100%;
  height: 60px;
//  background: url("../img/tweed.png") 0 0 repeat #666666;
  .list-inline {
    height: 50px;
    margin-top: 10px;
    background: url("../img/grid.png") 0 0 repeat #666666;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    li {
      padding-top: 10px;
    }
  }
}
.bs-docs-nav {
  background: url("../img/tweed.png") 0 0 repeat #666;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0 15px 0;
}

#wrap > .container > .col-md-10 > .page-header {
  margin-top: 0;
}

#wrap > .container > .col-md-10 > .page-header > h1 {
  margin-top: 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.bs-docs-nav {
//  background: url("../img/tweed.png") 0 0 repeat #666666;
}

/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  background-color: #fafafa;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}

/* Echo out a label for the example */

.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #bbb;
  text-transform: uppercase;
  content: "Example";
}

/* Tweak display of the code snippets when following an example */

.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

/* Make the examples and snippets not full-width */

@media screen and (min-width: 768px) {
  .bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .bs-example + .highlight {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

/* Tweak content of examples for optimum awesome */

.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
  margin-bottom: 0;
}

.bs-example > p > .close {
  float: none;
}

/* Typography */

.bs-example-type .table td:last-child {
  color: #999;
  vertical-align: middle;
}

.bs-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

.bs-example-type .table tr:first-child td {
  border-top: 0;
}

.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
  margin: 0;
}

/* Images */

.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
  margin: 5px;
}

/* Buttons */

.bs-example > .btn,
.bs-example > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bs-example > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

/* Forms */

.bs-example-control-sizing select,
.bs-example-control-sizing input[type="text"] + input[type="text"] {
  margin-top: 10px;
}

.bs-example-form .input-group {
  margin-bottom: 10px;
}

.bs-example > textarea.form-control {
  resize: vertical;
}

/* List groups */

.bs-example > .list-group {
  max-width: 400px;
}

/* Navbars */

.bs-example .navbar:last-child {
  margin-bottom: 0;
}

.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden;
  /* cut the drop shadows off */

}

.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
  margin-left: 0;
}

.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

.bs-navbar-top-example {
  padding-bottom: 45px;
}

.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px;
}

.bs-navbar-top-example .navbar-fixed-top {
  top: -1px;
}

.bs-navbar-bottom-example {
  padding-top: 45px;
}

.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}

.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }
  .bs-navbar-top-example {
    border-radius: 0 0 4px 4px;
  }
  .bs-navbar-bottom-example {
    border-radius: 4px 4px 0 0;
  }
}

/* Pagination */

.bs-example .pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Pager */

.bs-example > .pager {
  margin-top: 0;
}

/* Example modals */

.bs-example-modal {
  background-color: #f5f5f5;
}

.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.bs-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

/* Example dropdowns */

.bs-example > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}

/* Example tabbable tabs */

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

/* Tooltips */

.bs-example-tooltips {
  text-align: center;
}

.bs-example-tooltips > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Popovers */

.bs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}

.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

/* Scrollspy demo on fixed height div */

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.highlight {
  display: none;
  /* hidden by default, until >480px */

  padding: 0;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

pre {
  padding: 10px 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  background: url("../img/noisy_net.png") 0 0 repeat #666666;
  border: 0;
  border-radius: 0;
}

pre.prettyprint {
  background: #ccc7c4;
}

pre .pre_green {
  color: #99cc32;
}

pre .pre_blue {
  color: #f221c6;
}

pre .pre_red {
  color: #2ddde1;
}

pre .pre_black {
  color: #cccccc;
}

pre .pre_orange {
  color: #cc540a;
}

pre code {
  font-size: inherit;
  color: #cc540a;
  /* Effectively the base text color */

}

pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  color: #c1c1c1;
  text-align: right;
}

.bs-glyphicons li {
  float: left;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  line-height: 1.4;
  text-align: center;
  list-style: none;
  background: url("../img/noisy_net.png") 0 0 repeat #666666;
  border: 1px solid #ddd;
}

.bs-glyphicons li span {
  margin-bottom: 20px;
  font-size: 32px;
}

.bs-glyphicons li span,
.bs-glyphicons li small {
  color: #99cc32;
}

/* Show code snippets when we have the space */

@media screen and (min-width: 481px) {
  .highlight {
    display: block;
  }
}